
/* Style the form container */
.form-container {
    background-color: #ffffff;
    border-radius: 30px;
    padding: 30px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
}

/* Style the transfer button */
.transfer-button {
    padding: 10px 30px;
    background-color: #067986;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
}